// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  text-align: center;
  min-height: 100%;
  margin-bottom: 100px;
}
// index
.posts {
  margin-top: 30px;
}

.post {
  border: 1px solid #2c2c2c;
  width: 600px;
  margin: 10px auto 0;
  p {
    text-align: left;
    margin-left: 50px;
    padding: 10px 0;
  }
  .flex_box{
    display: flex;
    justify-content: flex-end;
    p {
      margin-right: 50px;
    }
  }
}

//new
form {
  margin: 0 auto;
  margin-top: 100px;
}
form .form_innerWrap {
  width: 300px;
  margin: 0 auto;
}
form .field {
  margin: 10px 0 20px 50px;
  text-align: left;
}
form .new_picture_button {
  margin-top: 30px;
  display: block;
}